nav{
    background-color: $primary_color;
    ul{
        list-style: none;
        li{
            display: inline-block;
            a{
                color: #fff;
                display: block;
                text-decoration: none;
                padding: 10px 20px;
            }
        }
    }
}