.text{
    &-left{
        text-align: left;
    }
    &-center{
        text-align: center;
    }
    &-right{
        text-align: right;
    }
    &-justify{
        text-align: justify;
    }
    &-white{
        color: #fff;
    }
    &-amber{
        color: $color_amber;
    }
    &-aqua{
        color: $color_aqua;
    }
    &-blue{
        color: $color_blue;
    }
    &-light-blue{
        color: $color_light-blue;
    }
    &-brown{
        color: $color_brown;
    }
    &-cyan{
        color: $color_cyan;
    }
    &-blue-grey{
        color: $color_blue-grey;
    }
    &-green{
        color: $color_green;
    }
    &-light-green{
        color: $color_light-green;
    }
    &-indigo{
        color: $color_indigo;
    }
    &-khaki{
        color: $color_khaki;
    }
    &-lime{
        color: $color_lime;
    }
    &-orange{
        color: $color_orange;
    }
    &-deep-orange{
        color: $color_deep-orange;
    }
    &-deep-orange{
        color: $color_deep-orange;
    }
    &-pink{
        color: $color_pink;
    }
    &-purple{
        color: $color_purple;
    }
    &-deep-purple{
        color: $color_deep-purple;
    }
    &-red{
        color: $color_red;
    }
    &-sand{
        color: $color_sand;
    }
    &-teal{
        color: $color_teal;
    }
    &-teal{
        color: $color_teal;
    }
    &-yellow{
        color: $color_yellow;
    }
    &-yellow{
        color: $color_yellow;
    }
    &-black{
        color: $color_black;
    }
    &-grey{
        color: $color_grey;
    }
    &-gray{
        color: $color_gray;
    }
    &-light-grey{
        color: $color_light-grey;
    }
    &-light-gray{
        color: $color_light-gray;
    }
    &-dark-grey{
        color: $color_dark-grey;
    }
    &-dark-gray{
        color: $color_dark-gray;
    }
    &-pale-red{
        color: $color_pale-red;
    }
    &-pale-green{
        color: $color_pale-green;
    }
    &-pale-yellow{
        color: $color_pale-yellow;
    }
    &-pale-blue{
        color: $color_pale-blue;
    }
}

