@charset "UTF-8";
/*
$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default; */
/*
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;
*/
/* Colors */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bg-white {
  background-color: #fff;
}

.bg-amber {
  background-color: #ffc107;
}

.bg-aqua {
  background-color: #00ffff;
}

.bg-blue {
  background-color: #2196F3;
}

.bg-light-blue {
  background-color: #87CEEB;
}

.bg-brown {
  background-color: #795548;
}

.bg-cyan {
  background-color: #00bcd4;
}

.bg-blue-grey {
  background-color: #607d8b;
}

.bg-green {
  background-color: #4CAF50;
}

.bg-light-green {
  background-color: #8bc34a;
}

.bg-indigo {
  background-color: #3f51b5;
}

.bg-khaki {
  background-color: #f0e68c;
}

.bg-lime {
  background-color: #cddc39;
}

.bg-orange {
  background-color: #ff9800;
}

.bg-deep-orange {
  background-color: #ff5722;
}

.bg-deep-orange {
  background-color: #ff5722;
}

.bg-pink {
  background-color: #e91e63;
}

.bg-purple {
  background-color: #9c27b0;
}

.bg-deep-purple {
  background-color: #673ab7;
}

.bg-red {
  background-color: #f44336;
}

.bg-sand {
  background-color: #fdf5e6;
}

.bg-teal {
  background-color: #009688;
}

.bg-teal {
  background-color: #009688;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.bg-black {
  background-color: #000;
}

.bg-grey {
  background-color: #9e9e9e;
}

.bg-gray {
  background-color: #9e9e9e;
}

.bg-light-grey {
  background-color: #f1f1f1;
}

.bg-light-gray {
  background-color: #f1f1f1;
}

.bg-dark-grey {
  background-color: #616161;
}

.bg-dark-gray {
  background-color: #616161;
}

.bg-pale-red {
  background-color: #ffdddd;
}

.bg-pale-green {
  background-color: #ddffdd;
}

.bg-pale-yellow {
  background-color: #ffffcc;
}

.bg-pale-blue {
  background-color: #ddffff;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-large {
  font-size: 1.2em;
}

.text-small {
  font-size: .9em;
}

.text-tiny {
  font-size: .8;
}

.text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.text-break {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-white {
  color: #fff;
}

.text-amber {
  color: #ffc107;
}

.text-aqua {
  color: #00ffff;
}

.text-blue {
  color: #2196F3;
}

.text-light-blue {
  color: #87CEEB;
}

.text-brown {
  color: #795548;
}

.text-cyan {
  color: #00bcd4;
}

.text-blue-grey {
  color: #607d8b;
}

.text-green {
  color: #4CAF50;
}

.text-light-green {
  color: #8bc34a;
}

.text-indigo {
  color: #3f51b5;
}

.text-khaki {
  color: #f0e68c;
}

.text-lime {
  color: #cddc39;
}

.text-orange {
  color: #ff9800;
}

.text-deep-orange {
  color: #ff5722;
}

.text-deep-orange {
  color: #ff5722;
}

.text-pink {
  color: #e91e63;
}

.text-purple {
  color: #9c27b0;
}

.text-deep-purple {
  color: #673ab7;
}

.text-red {
  color: #f44336;
}

.text-sand {
  color: #fdf5e6;
}

.text-teal {
  color: #009688;
}

.text-teal {
  color: #009688;
}

.text-yellow {
  color: #ffeb3b;
}

.text-yellow {
  color: #ffeb3b;
}

.text-black {
  color: #000;
}

.text-grey {
  color: #9e9e9e;
}

.text-gray {
  color: #9e9e9e;
}

.text-light-grey {
  color: #f1f1f1;
}

.text-light-gray {
  color: #f1f1f1;
}

.text-dark-grey {
  color: #616161;
}

.text-dark-gray {
  color: #616161;
}

.text-pale-red {
  color: #ffdddd;
}

.text-pale-green {
  color: #ddffdd;
}

.text-pale-yellow {
  color: #ffffcc;
}

.text-pale-blue {
  color: #ddffff;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.p-fixed {
  position: fixed !important;
}

.p-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.p-centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.flex-centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-right {
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.m-1 {
  margin: 0.2rem !important;
}

.mb-1 {
  margin-bottom: 0.2rem !important;
}

.ml-1 {
  margin-left: 0.2rem !important;
}

.mr-1 {
  margin-right: 0.2rem !important;
}

.mt-1 {
  margin-top: 0.2rem !important;
}

.mx-1 {
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
}

.my-1 {
  margin-bottom: 0.2rem !important;
  margin-top: 0.2rem !important;
}

.m-2 {
  margin: 0.4rem !important;
}

.mb-2 {
  margin-bottom: 0.4rem !important;
}

.ml-2 {
  margin-left: 0.4rem !important;
}

.mr-2 {
  margin-right: 0.4rem !important;
}

.mt-2 {
  margin-top: 0.4rem !important;
}

.mx-2 {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

.my-2 {
  margin-bottom: 0.4rem !important;
  margin-top: 0.4rem !important;
}

.m-3 {
  margin: 0.6rem !important;
}

.mb-3 {
  margin-bottom: 0.6rem !important;
}

.ml-3 {
  margin-left: 0.6rem !important;
}

.mr-3 {
  margin-right: 0.6rem !important;
}

.mt-3 {
  margin-top: 0.6rem !important;
}

.mx-3 {
  margin-left: 0.6rem !important;
  margin-right: 0.6rem !important;
}

.my-3 {
  margin-bottom: 0.6rem !important;
  margin-top: 0.6rem !important;
}

.m-4 {
  margin: 0.8rem !important;
}

.mb-4 {
  margin-bottom: 0.8rem !important;
}

.ml-4 {
  margin-left: 0.8rem !important;
}

.mr-4 {
  margin-right: 0.8rem !important;
}

.mt-4 {
  margin-top: 0.8rem !important;
}

.mx-4 {
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}

.my-4 {
  margin-bottom: 0.8rem !important;
  margin-top: 0.8rem !important;
}

.m-5 {
  margin: 1rem !important;
}

.mb-5 {
  margin-bottom: 1rem !important;
}

.ml-5 {
  margin-left: 1rem !important;
}

.mr-5 {
  margin-right: 1rem !important;
}

.mt-5 {
  margin-top: 1rem !important;
}

.mx-5 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.my-5 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.m-6 {
  margin: 1.2rem !important;
}

.mb-6 {
  margin-bottom: 1.2rem !important;
}

.ml-6 {
  margin-left: 1.2rem !important;
}

.mr-6 {
  margin-right: 1.2rem !important;
}

.mt-6 {
  margin-top: 1.2rem !important;
}

.mx-6 {
  margin-left: 1.2rem !important;
  margin-right: 1.2rem !important;
}

.my-6 {
  margin-bottom: 1.2rem !important;
  margin-top: 1.2rem !important;
}

.m-7 {
  margin: 1.4rem !important;
}

.mb-7 {
  margin-bottom: 1.4rem !important;
}

.ml-7 {
  margin-left: 1.4rem !important;
}

.mr-7 {
  margin-right: 1.4rem !important;
}

.mt-7 {
  margin-top: 1.4rem !important;
}

.mx-7 {
  margin-left: 1.4rem !important;
  margin-right: 1.4rem !important;
}

.my-7 {
  margin-bottom: 1.4rem !important;
  margin-top: 1.4rem !important;
}

.m-8 {
  margin: 1.6rem !important;
}

.mb-8 {
  margin-bottom: 1.6rem !important;
}

.ml-8 {
  margin-left: 1.6rem !important;
}

.mr-8 {
  margin-right: 1.6rem !important;
}

.mt-8 {
  margin-top: 1.6rem !important;
}

.mx-8 {
  margin-left: 1.6rem !important;
  margin-right: 1.6rem !important;
}

.my-8 {
  margin-bottom: 1.6rem !important;
  margin-top: 1.6rem !important;
}

.m-9 {
  margin: 1.8rem !important;
}

.mb-9 {
  margin-bottom: 1.8rem !important;
}

.ml-9 {
  margin-left: 1.8rem !important;
}

.mr-9 {
  margin-right: 1.8rem !important;
}

.mt-9 {
  margin-top: 1.8rem !important;
}

.mx-9 {
  margin-left: 1.8rem !important;
  margin-right: 1.8rem !important;
}

.my-9 {
  margin-bottom: 1.8rem !important;
  margin-top: 1.8rem !important;
}

.m-10 {
  margin: 2rem !important;
}

.mb-10 {
  margin-bottom: 2rem !important;
}

.ml-10 {
  margin-left: 2rem !important;
}

.mr-10 {
  margin-right: 2rem !important;
}

.mt-10 {
  margin-top: 2rem !important;
}

.mx-10 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.my-10 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.p-1 {
  padding: 0.2rem !important;
}

.pb-1 {
  padding-bottom: 0.2rem !important;
}

.pl-1 {
  padding-left: 0.2rem !important;
}

.pr-1 {
  padding-right: 0.2rem !important;
}

.pt-1 {
  padding-top: 0.2rem !important;
}

.px-1 {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.py-1 {
  padding-bottom: 0.2rem !important;
  padding-top: 0.2rem !important;
}

.p-2 {
  padding: 0.4rem !important;
}

.pb-2 {
  padding-bottom: 0.4rem !important;
}

.pl-2 {
  padding-left: 0.4rem !important;
}

.pr-2 {
  padding-right: 0.4rem !important;
}

.pt-2 {
  padding-top: 0.4rem !important;
}

.px-2 {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.py-2 {
  padding-bottom: 0.4rem !important;
  padding-top: 0.4rem !important;
}

.p-3 {
  padding: 0.6rem !important;
}

.pb-3 {
  padding-bottom: 0.6rem !important;
}

.pl-3 {
  padding-left: 0.6rem !important;
}

.pr-3 {
  padding-right: 0.6rem !important;
}

.pt-3 {
  padding-top: 0.6rem !important;
}

.px-3 {
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}

.py-3 {
  padding-bottom: 0.6rem !important;
  padding-top: 0.6rem !important;
}

.p-4 {
  padding: 0.8rem !important;
}

.pb-4 {
  padding-bottom: 0.8rem !important;
}

.pl-4 {
  padding-left: 0.8rem !important;
}

.pr-4 {
  padding-right: 0.8rem !important;
}

.pt-4 {
  padding-top: 0.8rem !important;
}

.px-4 {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.py-4 {
  padding-bottom: 0.8rem !important;
  padding-top: 0.8rem !important;
}

.p-5 {
  padding: 1rem !important;
}

.pb-5 {
  padding-bottom: 1rem !important;
}

.pl-5 {
  padding-left: 1rem !important;
}

.pr-5 {
  padding-right: 1rem !important;
}

.pt-5 {
  padding-top: 1rem !important;
}

.px-5 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.py-5 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.p-6 {
  padding: 1.2rem !important;
}

.pb-6 {
  padding-bottom: 1.2rem !important;
}

.pl-6 {
  padding-left: 1.2rem !important;
}

.pr-6 {
  padding-right: 1.2rem !important;
}

.pt-6 {
  padding-top: 1.2rem !important;
}

.px-6 {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.py-6 {
  padding-bottom: 1.2rem !important;
  padding-top: 1.2rem !important;
}

.p-7 {
  padding: 1.4rem !important;
}

.pb-7 {
  padding-bottom: 1.4rem !important;
}

.pl-7 {
  padding-left: 1.4rem !important;
}

.pr-7 {
  padding-right: 1.4rem !important;
}

.pt-7 {
  padding-top: 1.4rem !important;
}

.px-7 {
  padding-left: 1.4rem !important;
  padding-right: 1.4rem !important;
}

.py-7 {
  padding-bottom: 1.4rem !important;
  padding-top: 1.4rem !important;
}

.p-8 {
  padding: 1.6rem !important;
}

.pb-8 {
  padding-bottom: 1.6rem !important;
}

.pl-8 {
  padding-left: 1.6rem !important;
}

.pr-8 {
  padding-right: 1.6rem !important;
}

.pt-8 {
  padding-top: 1.6rem !important;
}

.px-8 {
  padding-left: 1.6rem !important;
  padding-right: 1.6rem !important;
}

.py-8 {
  padding-bottom: 1.6rem !important;
  padding-top: 1.6rem !important;
}

.p-9 {
  padding: 1.8rem !important;
}

.pb-9 {
  padding-bottom: 1.8rem !important;
}

.pl-9 {
  padding-left: 1.8rem !important;
}

.pr-9 {
  padding-right: 1.8rem !important;
}

.pt-9 {
  padding-top: 1.8rem !important;
}

.px-9 {
  padding-left: 1.8rem !important;
  padding-right: 1.8rem !important;
}

.py-9 {
  padding-bottom: 1.8rem !important;
  padding-top: 1.8rem !important;
}

.p-10 {
  padding: 2rem !important;
}

.pb-10 {
  padding-bottom: 2rem !important;
}

.pl-10 {
  padding-left: 2rem !important;
}

.pr-10 {
  padding-right: 2rem !important;
}

.pt-10 {
  padding-top: 2rem !important;
}

.px-10 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-10 {
  padding-bottom: 2rem !important;
  padding-top: 2rem !important;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-none,
.d-hide {
  display: none !important;
}

.d-visible {
  visibility: visible;
}

.d-invsible {
  visibility: hidden;
}

.text-hide {
  background: transparent;
  border: 0;
  color: transparent;
  font-size: 0;
  line-height: 0;
  text-shadow: none;
}

/* Manually forked from Normalize.css */
/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

a:active,
a:hover {
  outline-width: 0;
}

address {
  font-style: normal;
}

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit;
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: "Lato";
  font-size: 1em;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
  font-weight: 400;
  /* (added) */
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

/* Forms ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
  outline: none;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  color: #1d1d1d;
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: "Lato", monospace;
  font-size: 1em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  color: #1d1d1d;
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin-top: 11px;
  margin-bottom: 10px;
  font-weight: 400;
}

p {
  margin-top: 5px;
  margin-bottom: 7px;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  border: 0.05rem solid #1d1d1d;
  border-radius: 0.1rem;
  color: #1d1d1d;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: 0.25rem 0.4rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
}

.btn:focus, .btn:hover {
  background: #9e0505;
  border-color: #151515;
  text-decoration: none;
}

.btn:active, .btn.active {
  background: #151515;
  border-color: #090909;
  color: #fff;
  text-decoration: none;
}

.btn:active.loading::after, .btn.active.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.btn[disabled], .btn:disabled, .btn.disabled {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

.btn.btn-primary {
  background: #1d1d1d;
  border-color: #151515;
  color: #fff;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
  background: #101010;
  border-color: #090909;
  color: #fff;
}

.btn.btn-primary:active, .btn.btn-primary.active {
  background: #0b0b0b;
  border-color: #040404;
  color: #fff;
}

.btn.btn-primary.loading::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
}

.btn.btn-success {
  background: #fff;
  border-color: #32b643;
  color: #32b643;
}

.btn.btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2);
}

.btn.btn-success:focus, .btn.btn-success:hover {
  background: #edfaef;
  border-color: #30ae40;
  color: #32b643;
}

.btn.btn-success:active, .btn.btn-success.active {
  background: #32b643;
  border-color: #2da23c;
  color: #fff;
}

.btn.btn-success.loading::after {
  border-bottom-color: #32b643;
  border-left-color: #32b643;
}

.btn.btn-error {
  background: #fff;
  border-color: #e85600;
  color: #e85600;
}

.btn.btn-error:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
}

.btn.btn-error:focus, .btn.btn-error:hover {
  background: #fff1e8;
  border-color: #de5200;
  color: #e85600;
}

.btn.btn-error:active, .btn.btn-error.active {
  background: #e85600;
  border-color: #cf4d00;
  color: #fff;
}

.btn.btn-error.loading::after {
  border-bottom-color: #e85600;
  border-left-color: #e85600;
}

.btn.btn-link {
  background: transparent;
  border-color: transparent;
  color: #1d1d1d;
}

.btn.btn-link:focus, .btn.btn-link:hover, .btn.btn-link:active, .btn.btn-link.active {
  color: #040404;
}

.btn.btn-sm {
  font-size: 0.7rem;
  height: 1.4rem;
  padding: 0.05rem 0.3rem;
}

.btn.btn-lg {
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.35rem 0.6rem;
}

.btn.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-action {
  width: 1.8rem;
  padding-left: 0;
  padding-right: 0;
}

.btn.btn-action.btn-sm {
  width: 1.4rem;
}

.btn.btn-action.btn-lg {
  width: 2rem;
}

.btn.btn-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  height: 1rem;
  line-height: 0.8rem;
  margin-left: 0.2rem;
  margin-right: -2px;
  opacity: 1;
  padding: 0.1rem;
  text-decoration: none;
  width: 1rem;
}

.btn.btn-clear:focus, .btn.btn-clear:hover {
  background: rgba(247, 248, 249, 0.5);
  opacity: .95;
}

.btn.btn-clear::before {
  content: "\2715";
}

.btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-group .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.btn-group .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -0.05rem;
}

.btn-group .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -0.05rem;
}

.btn-group .btn:focus, .btn-group .btn:hover, .btn-group .btn:active, .btn-group .btn.active {
  z-index: 1;
}

.btn-group.btn-group-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-group.btn-group-block .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.img-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.img-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.video-responsive {
  display: block;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.video-responsive::before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

video.video-responsive {
  height: auto;
  max-width: 100%;
}

video.video-responsive::before {
  content: none;
}

.video-responsive-4-3::before {
  padding-bottom: 75%;
}

.video-responsive-1-1::before {
  padding-bottom: 100%;
}

.figure {
  margin: 0 0 0.4rem 0;
}

.figure .figure-caption {
  color: #66758c;
  margin-top: 0.4rem;
}

.form-group:not(:last-child) {
  margin-bottom: 0.4rem;
}

fieldset {
  margin-bottom: 0.8rem;
}

legend {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.form-label {
  display: block;
  line-height: 1.2rem;
  padding: 0.3rem 0;
}

.form-label.label-sm {
  font-size: 0.7rem;
  padding: 0.1rem 0;
}

.form-label.label-lg {
  font-size: 0.9rem;
  padding: 0.4rem 0;
}

.form-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
  background-image: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: #3b4351;
  display: block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  max-width: 100%;
  outline: none;
  padding: 0.25rem 0.4rem;
  position: relative;
  -webkit-transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
  width: 100%;
}

.form-input:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
  border-color: #1d1d1d;
}

.form-input::-webkit-input-placeholder {
  color: #bcc3ce;
}

.form-input:-ms-input-placeholder {
  color: #bcc3ce;
}

.form-input::-ms-input-placeholder {
  color: #bcc3ce;
}

.form-input::placeholder {
  color: #bcc3ce;
}

.form-input.input-sm {
  font-size: 0.7rem;
  height: 1.4rem;
  padding: 0.05rem 0.3rem;
}

.form-input.input-lg {
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.35rem 0.6rem;
}

.form-input.input-inline {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.form-input[type="file"] {
  height: auto;
}

textarea.form-input, textarea.form-input.input-lg, textarea.form-input.input-sm {
  height: auto;
}

.form-input-hint {
  color: #bcc3ce;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

.has-success .form-input-hint,
.is-success + .form-input-hint {
  color: #32b643;
}

.has-error .form-input-hint,
.is-error + .form-input-hint {
  color: #e85600;
}

.form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  color: inherit;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1.2rem;
  outline: none;
  padding: 0.25rem 0.4rem;
  vertical-align: middle;
  width: 100%;
  background: #fff;
}

.form-select:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
  border-color: #1d1d1d;
}

.form-select::-ms-expand {
  display: none;
}

.form-select.select-sm {
  font-size: 0.7rem;
  height: 1.4rem;
  padding: 0.05rem 1.1rem 0.05rem 0.3rem;
}

.form-select.select-lg {
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.35rem 1.4rem 0.35rem 0.6rem;
}

.form-select[size], .form-select[multiple] {
  height: auto;
  padding: 0.25rem 0.4rem;
}

.form-select[size] option, .form-select[multiple] option {
  padding: 0.1rem 0.2rem;
}

.form-select:not([multiple]):not([size]) {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 0.35rem center/0.4rem 0.5rem;
  padding-right: 1.2rem;
}

.has-icon-left,
.has-icon-right {
  position: relative;
}

.has-icon-left .form-icon,
.has-icon-right .form-icon {
  height: 0.8rem;
  margin: 0 0.25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.8rem;
  z-index: 2;
}

.has-icon-left .form-icon {
  left: 0.05rem;
}

.has-icon-left .form-input {
  padding-left: 1.3rem;
}

.has-icon-right .form-icon {
  right: 0.05rem;
}

.has-icon-right .form-input {
  padding-right: 1.3rem;
}

.form-checkbox,
.form-radio,
.form-switch {
  display: block;
  line-height: 1.2rem;
  margin: 0.2rem 0;
  min-height: 1.4rem;
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  position: relative;
}

.form-checkbox input,
.form-radio input,
.form-switch input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.form-checkbox input:focus + .form-icon,
.form-radio input:focus + .form-icon,
.form-switch input:focus + .form-icon {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(29, 29, 29, 0.2);
  border-color: #1d1d1d;
}

.form-checkbox input:checked + .form-icon,
.form-radio input:checked + .form-icon,
.form-switch input:checked + .form-icon {
  background: #1d1d1d;
  border-color: #1d1d1d;
}

.form-checkbox .form-icon,
.form-radio .form-icon,
.form-switch .form-icon {
  border: 0.05rem solid #bcc3ce;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  -webkit-transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, -webkit-box-shadow .2s;
}

.form-checkbox.input-sm,
.form-radio.input-sm,
.form-switch.input-sm {
  font-size: 0.7rem;
  margin: 0;
}

.form-checkbox.input-lg,
.form-radio.input-lg,
.form-switch.input-lg {
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

.form-checkbox .form-icon,
.form-radio .form-icon {
  background: #fff;
  height: 0.8rem;
  left: 0;
  top: 0.3rem;
  width: 0.8rem;
}

.form-checkbox input:active + .form-icon,
.form-radio input:active + .form-icon {
  background: #eef0f3;
}

.form-checkbox .form-icon {
  border-radius: 0.1rem;
}

.form-checkbox input:checked + .form-icon::before {
  background-clip: padding-box;
  border: 0.1rem solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 9px;
  left: 50%;
  margin-left: -3px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 6px;
}

.form-checkbox input:indeterminate + .form-icon {
  background: #1d1d1d;
  border-color: #1d1d1d;
}

.form-checkbox input:indeterminate + .form-icon::before {
  background: #fff;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 10px;
}

.form-radio .form-icon {
  border-radius: 50%;
}

.form-radio input:checked + .form-icon::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px;
}

.form-switch {
  padding-left: 2rem;
}

.form-switch .form-icon {
  background: #bcc3ce;
  background-clip: padding-box;
  border-radius: 0.45rem;
  height: 0.9rem;
  left: 0;
  top: 0.25rem;
  width: 1.6rem;
}

.form-switch .form-icon::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.8rem;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: background .2s, border .2s, color .2s, left .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, color .2s, left .2s, -webkit-box-shadow .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s;
  transition: background .2s, border .2s, box-shadow .2s, color .2s, left .2s, -webkit-box-shadow .2s;
  width: 0.8rem;
}

.form-switch input:checked + .form-icon::before {
  left: 14px;
}

.form-switch input:active + .form-icon::before {
  background: #f7f8f9;
}

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group .input-group-addon {
  background: #f7f8f9;
  border: 0.05rem solid #bcc3ce;
  border-radius: 0.1rem;
  line-height: 1.2rem;
  padding: 0.25rem 0.4rem;
  white-space: nowrap;
}

.input-group .input-group-addon.addon-sm {
  font-size: 0.7rem;
  padding: 0.05rem 0.3rem;
}

.input-group .input-group-addon.addon-lg {
  font-size: 0.9rem;
  padding: 0.35rem 0.6rem;
}

.input-group .form-input,
.input-group .form-select {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1%;
}

.input-group .input-group-btn {
  z-index: 1;
}

.input-group .form-input:first-child:not(:last-child),
.input-group .form-select:first-child:not(:last-child),
.input-group .input-group-addon:first-child:not(:last-child),
.input-group .input-group-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group .form-input:not(:first-child):not(:last-child),
.input-group .form-select:not(:first-child):not(:last-child),
.input-group .input-group-addon:not(:first-child):not(:last-child),
.input-group .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
  margin-left: -0.05rem;
}

.input-group .form-input:last-child:not(:first-child),
.input-group .form-select:last-child:not(:first-child),
.input-group .input-group-addon:last-child:not(:first-child),
.input-group .input-group-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -0.05rem;
}

.input-group .form-input:focus,
.input-group .form-select:focus,
.input-group .input-group-addon:focus,
.input-group .input-group-btn:focus {
  z-index: 2;
}

.input-group .form-select {
  width: auto;
}

.input-group.input-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.has-success .form-input, .form-input.is-success, .has-success
.form-select,
.form-select.is-success {
  background: #f9fdfa;
  border-color: #32b643;
}

.has-success .form-input:focus, .form-input.is-success:focus, .has-success
.form-select:focus,
.form-select.is-success:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2);
}

.has-error .form-input, .form-input.is-error, .has-error
.form-select,
.form-select.is-error {
  background: #fffaf7;
  border-color: #e85600;
}

.has-error .form-input:focus, .form-input.is-error:focus, .has-error
.form-select:focus,
.form-select.is-error:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
}

.has-error .form-checkbox .form-icon, .form-checkbox.is-error .form-icon, .has-error
.form-radio .form-icon,
.form-radio.is-error .form-icon, .has-error
.form-switch .form-icon,
.form-switch.is-error .form-icon {
  border-color: #e85600;
}

.has-error .form-checkbox input:checked + .form-icon, .form-checkbox.is-error input:checked + .form-icon, .has-error
.form-radio input:checked + .form-icon,
.form-radio.is-error input:checked + .form-icon, .has-error
.form-switch input:checked + .form-icon,
.form-switch.is-error input:checked + .form-icon {
  background: #e85600;
  border-color: #e85600;
}

.has-error .form-checkbox input:focus + .form-icon, .form-checkbox.is-error input:focus + .form-icon, .has-error
.form-radio input:focus + .form-icon,
.form-radio.is-error input:focus + .form-icon, .has-error
.form-switch input:focus + .form-icon,
.form-switch.is-error input:focus + .form-icon {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
  border-color: #e85600;
}

.has-error .form-checkbox input:indeterminate + .form-icon, .form-checkbox.is-error input:indeterminate + .form-icon {
  background: #e85600;
  border-color: #e85600;
}

.form-input:not(:placeholder-shown):invalid {
  border-color: #e85600;
}

.form-input:not(:placeholder-shown):invalid:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
          box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
  background: #fffaf7;
}

.form-input:not(:placeholder-shown):invalid + .form-input-hint {
  color: #e85600;
}

.form-input:disabled, .form-input.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #eef0f3;
  cursor: not-allowed;
  opacity: .5;
}

.form-input[readonly] {
  background-color: #f7f8f9;
}

input:disabled + .form-icon, input.disabled + .form-icon {
  background: #eef0f3;
  cursor: not-allowed;
  opacity: .5;
}

.form-switch input:disabled + .form-icon::before, .form-switch input.disabled + .form-icon::before {
  background: #fff;
}

.form-horizontal {
  padding: 0.4rem 0;
}

.form-horizontal .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-inline {
  display: inline-block;
}

.mab-container:after,
.mab-container:before,
.mab-panel:after,
.mab-panel:before,
.mab-row:after,
.mab-row:before,
.mab-row-padding:after,
.mab-row-padding:before,
.mab-cell-row:before,
.mab-cell-row:after,
.mab-clear:after,
.mab-clear:before,
.mab-bar:before,
.mab-bar:after {
  content: "";
  display: table;
  clear: both;
}

.mab-col,
.mab-half,
.mab-third,
.mab-twothird,
.mab-threequarter,
.mab-quarter {
  float: left;
  width: 100%;
}

.mab-col.s1 {
  width: 8.33333%;
}

.mab-col.s2 {
  width: 16.66666%;
}

.mab-col.s3 {
  width: 24.99999%;
}

.mab-col.s4 {
  width: 33.33333%;
}

.mab-col.s5 {
  width: 41.66666%;
}

.mab-col.s6 {
  width: 49.99999%;
}

.mab-col.s7 {
  width: 58.33333%;
}

.mab-col.s8 {
  width: 66.66666%;
}

.mab-col.s9 {
  width: 74.99999%;
}

.mab-col.s10 {
  width: 83.33333%;
}

.mab-col.s11 {
  width: 91.66666%;
}

.mab-col.s12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .mab-container-full {
    width: 100%;
    margin: 0 auto;
  }
  .mab-container {
    width: 80vw;
    margin: 0 auto;
  }
  .mab-col.m1 {
    width: 8.33333%;
  }
  .mab-col.m2 {
    width: 16.66666%;
  }
  .mab-col.m3,
  .mab-quarter {
    width: 24.99999%;
  }
  .mab-col.m4,
  .mab-third {
    width: 33.33333%;
  }
  .mab-col.m5 {
    width: 41.66666%;
  }
  .mab-col.m6,
  .mab-half {
    width: 49.99999%;
  }
  .mab-col.m7 {
    width: 58.33333%;
  }
  .mab-col.m8,
  .mab-twothird {
    width: 66.66666%;
  }
  .mab-col.m9,
  .mab-threequarter {
    width: 74.99999%;
  }
  .mab-col.m10 {
    width: 83.33333%;
  }
  .mab-col.m11 {
    width: 91.66666%;
  }
  .mab-col.m12 {
    width: 99.99999%;
  }
}

@media (min-width: 993px) {
  .mab-container-full {
    width: 100%;
    margin: 0 auto;
  }
  .mab-container {
    width: 80vw;
    margin: 0 auto;
  }
  .mab-col.l1 {
    width: 8.33333%;
  }
  .mab-col.l2 {
    width: 16.66666%;
  }
  .mab-col.l3 {
    width: 24.99999%;
  }
  .mab-col.l4 {
    width: 33.33333%;
  }
  .mab-col.l5 {
    width: 41.66666%;
  }
  .mab-col.l6 {
    width: 49.99999%;
  }
  .mab-col.l7 {
    width: 58.33333%;
  }
  .mab-col.l8 {
    width: 66.66666%;
  }
  .mab-col.l9 {
    width: 74.99999%;
  }
  .mab-col.l10 {
    width: 83.33333%;
  }
  .mab-col.l11 {
    width: 91.66666%;
  }
  .mab-col.l12 {
    width: 99.99999%;
  }
}

.navbar {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.navbar .navbar-section:not(:first-child):last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.navbar .navbar-brand {
  font-size: 0.9rem;
  text-decoration: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.hero.hero-sm {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.hero.hero-lg {
  padding-bottom: 8rem;
  padding-top: 8rem;
}

.hero .hero-body {
  padding: 0.4rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*Início das configurações da header*/
header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: sans-serif;
}

.brand {
  max-width: 320px;
  height: 100%;
  float: left;
  min-width: 220px;
}

/*Início das configurações da Navigation*/
.menu {
  width: 70%;
  height: 100%;
  float: right;
}

.menu ul {
  width: 100%;
  height: inherit;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.menu ul a {
  width: 20%;
  height: inherit;
  display: inline-block;
}

.menu ul a:hover {
  background-color: #9e0505;
  color: #fff;
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

label.menu-icon img {
  width: 30px;
  height: auto;
}

/*Início das configurações da Navigation com dispositivos < 768px*/
@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }
  .menu ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    transition: max-height 0.3s;
    /*Para fazer com que o menu saia da esquerda, você deve trocar max-height por max-width*/
    /*Para fazer com que o menu saia da direita, você deve trocar max-height por max-width e setar float: right*/
  }
  .menu ul a {
    text-align: left;
    width: 100%;
    height: 50px;
    padding: 10px 0px 10px 5%;
  }
  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: -45px;
    right: 0;
    line-height: 60px;
  }
  #menuToggle:checked ~ ul {
    max-height: 350px;
    /*Para fazer com que o menu saia da esquerda ou direita, você deve trocar max-height por max-width*/
  }
  .menu-icon i {
    font-size: 1.7em;
  }
}
/*# sourceMappingURL=style.css.map */